#addNewModal__form {
    margin-top: 30px;
    display: flex; 
    flex-direction: column;
}

#addNewModal__form > input {
    text-indent: 20px;
    margin: 10px 15px;
    height: 40px;
    border-radius: 10px;
    outline: none;
}

#addNewModal__form > button {
    width: 40%;
    height: 50px;
    border-radius: 15px;
    margin: auto;
    margin-top: 30px;
    background-color: greenyellow;
    font-weight: bold;
}