#menu {
    height: 50px; 
    width: 430px;
    margin: 10px;
    position: fixed;
    display: flex;
    align-items: center;
    padding-left: 15px;
    box-shadow: 1px 1px 10px #888888;
    z-index: 1;
    background-color: white;
    border-radius: 5px;
}

.menu__search input {
    margin-left: 10px;
    text-indent: 10px;
    width: 300px;
    outline: none;
    border: none;
}

.fa-search {
    margin: 10px;
}

.fa-bars:hover {
    cursor: pointer;
}

.fa-check-circle {
    margin-left: 5px;
}
.fa-check-circle:hover {
    cursor: pointer;
}