.userInfo {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
}

.names {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.names p {
    margin-right: 5px;
    margin-left: 5px;
}

.username {
    margin: 10px;
    display: flex;
    justify-content: center;
}

.userParkingInfo {
    margin-top: 20px;
}

.parkingAddress {
    margin-left: 20px;
    font-size: 20px;
    margin-top: 10px;
}
.parkingAddress:hover {
    cursor: pointer;
    color: lightseagreen;
}